<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Meltano</title>
    <% if (htmlWebpackPlugin.options.injectApiURL) { %>
        <%= "<script>window.FLASK = JSON.parse('{{ jsContext | tojson | safe }}');</script>" %>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
